<nav class ="navbar navbar-light bg-light">
  <div>
    <a class ="navbar-brand" href ="#">
      <img style="max-width: 100px" src="https://cdn.dribbble.com/users/4236/screenshots/57991/shot_1285340170.jpg">
    </a>
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="tel:0123456789" ><i class="fa fa-phone"></i></a></li>
      <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
      <li><a href="www.twiter.com"><i class="fa fa-twitter"></i></a></li>
      <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://api.whatsapp.com/send?phone=1234567890"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="mailto:klajdv@gmail.com"><i class="fa fa-mail"></i></a></li>
    </ul>
  </div>
  <!-- div social menu -->
  <button class ="navbar-toggler navbar-toggler-right" type ="button" data-toggle ="collapse" data-target ="#colNav">
    <span class ="navbar-toggler-icon"></span>
  </button>
  <div class ="collapse navbar-collapse" id ="colNav">
    <ul class ="navbar-nav mr-auto mt-2 mt-md-0">
      <li class ="nav-item active">
        <a class ="nav-link" href="#services"> Services </a>
      </li>
      <li class ="nav-item">
        <a class ="nav-link" href ="#contact"> Contact </a>
      </li>
      <li class ="nav-item">
        <a class ="nav-link" href ="#applyasdriver"> Apply as driver </a>
      </li>
    </ul>
  </div>
</nav>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner " >
    <div class="carousel-item active">
      <img class="d-block mx-auto w-100" src="https://www.autodeal.com.ph/images/autodeal/hero-images/TruckDeal-Autokid-Homepage-Hero.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block mx-auto w-100" src="https://www.volvotrucks.com/content/dam/volvo/volvo-trucks/masters/press-releases/2020/feb/pr-2952-range/1860x1050-R2A818233.jpg" alt="Second slide" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- div carousel-->
<!--Section: Contact v.2-->
<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.</p>
  <div class="container">
    <div class="left">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0">
        <!--Grid row-->
        <%= form_for @contact, url: public_index_path, remote: true do |f| %>
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :name %>
              <%= f.text_field :email, required: true,
                        class: 'form-control'%>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :email %>
              <%= f.text_field :email, required: true,
                        class: "form-control"%>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <%= f.label :subject %>
              <%= f.text_field :subject, required: true,
                        placeholder: "Driver Application"%>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <!--Grid column-->
          <div class="form-outline mb-4">
            <div class="md-form ">
              <%= f.label :message %>
              <%= f.text_area :message, rows: 3, cols: 30, required: true,
                        placeholder: "Write your CV here"%>
            </div>
          </div>
          <!--Grid row-->
          <%= f.submit 'Send Message', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="form-outline mb-4" id="flash-message" style="color: red">
        <%= render 'flash' %>
      </div>
      <!--Grid column-->
      <!--Grid column-->
    </div>
    <!--left-->
    <!--flash message-->
    <div class="right" >
      <div class="col-md-3 text-center">
        <ul class="list-unstyled">
          <li><i class="fa fa-map mt-4 fa-2x"></i>
            <p>San Francisco, CA 94126, USA</p>
          </li>
          <li><i class="fa fa-phone mt-4 fa-2x"></i>
            <p>+ 01 234 567 89</p>
          </li>
          <li><i class="fa fa-envelope mt-4 fa-2x"></i>
            <p>contact@mdbootstrap.com</p>
          </li>
        </ul>
      </div>
    </div>
    <!--right-->
  </div>
  <!--container-->
  <!--Grid column-->
</section>
<!--Section: Contact v.2-->
<footer>
  <div class="footer">
    <div class="contain">
      <div class="col">
        <h1>Company</h1>
        <ul>
          <li>About</li>
          <li>Mission</li>
        </ul>
      </div>
      <div class="col">
        <h1>Products</h1>
        <ul>
          <li>About</li>
          <li>Services</li>
        </ul>
      </div>
      <div class="col">
        <h1>services</h1>
        <ul>
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </div>
      <div class="col">
        <h1>Support</h1>
        <ul>
          <li>Contact us</li>
          <li>Web chat</li>
          <li>Open ticket</li>
        </ul>
      </div>
      <div class="col social">
        <h1>Social</h1>
        <ul>
          <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
          <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
          <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- END OF FOOTER -->
</footer>
<style type="text/css">
  .container {
              display: inline-flex;
              justify-content: space-between;
  
            }
  
            .left {
              display: table-cell;
                float: left;
                text-align: center;
                padding-left: 300px
  
            }
  
            .right {
  
              float: right;
            }
  
  
  
            .list-unstyled {
                float:right;
  
                justify-content: center;
            }
  
  
  
            body {
            background: white;
                   }
  
            .social-menu ul {
                    position: absolute;
                    top:50%;
                    transform: translate(-50%, -50%);
                    left:50%;
                    display: flex;
                    padding: 0;
                    margin: 0;
                   }
  
             .social-menu ul li{
  
            list-style: none;
            margin: 0
  
  
             }
            .social-menu ul li .fa{
              font-size: 30px;
              line-height: 60px;
              transition: .6s;
            margin: 10px;
            padding: 10px;
  
            }
            .social-menu ul li a{
  
  
              position: relative;
              display: block;
              width: 60px;
              border-radius: 50%;
  
              text-align: center;
  
            }
            .social-menu ul li a:hover {
  
              transform: translate(0,-10px);
  
              html,body {
              margin: 0;
              padding: 0;
              font-family: Arial, Helvetica, Sans-serif;
              background-color: #070617;
            }
            .alert-alert {
              background-color: #f2dede;
              border-color: #eed3d7;
              color: #b94a48;
              text-align: left;
              font-size: .8em;
              }
  
              .alert-success {
              background-color: #dff0d8;
              border-color: #d6e9c6;
              color: #468847;
              text-align: center;
              font-size: .8em;
              }
  
              .alert-notice {
              background-color: #dff0d8;
              border-color: #d6e9c6;
              color: #468847;
              text-align: left;
              font-size: .8em;
              }
  
  
            /* STYLES SPECIFIC TO FOOTER  */
            .footer {
              width: 100%;
              position: relative;
              height: auto;
              background-color: #070617;
            }
            .footer .col {
              width: 190px;
              height: auto;
              float: left;
              box-sizing: border-box;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              padding: 0px 20px 20px 20px;
            }
            .footer .col h1 {
              margin: 0;
              padding: 0;
              font-family: inherit;
              font-size: 12px;
              line-height: 17px;
              padding: 20px 0px 5px 0px;
              color: rgba(255,255,255,0.2);
              font-weight: normal;
              text-transform: uppercase;
              letter-spacing: 0.250em;
            }
            .footer .col ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
            }
            .footer .col ul li {
              color: #999999;
              font-size: 14px;
              font-family: inherit;
              font-weight: bold;
              padding: 5px 0px 5px 0px;
              cursor: pointer;
              transition: .2s;
              -webkit-transition: .2s;
              -moz-transition: .2s;
            }
            .social ul li {
              display: inline-block;
              padding-right: 5px !important;
            }
  
            .footer .col ul li:hover {
              color: #ffffff;
              transition: .1s;
              -webkit-transition: .1s;
              -moz-transition: .1s;
            }
            .clearfix {
              clear: both;
            }
            @media only screen and (min-width: 1280px) {
              .contain {
                width: 1200px;
                margin: 0 auto;
              }
            }
            @media only screen and (max-width: 1139px) {
              .contain .social {
                width: 1000px;
                display: block;
              }
              .social h1 {
                margin: 0px;
              }
            }
            @media only screen and (max-width: 950px) {
              .footer .col {
                width: 33%;
              }
              .footer .col h1 {
                font-size: 14px;
              }
              .footer .col ul li {
                font-size: 13px;
              }
            }
            @media only screen and (max-width: 500px) {
                .footer .col {
                  width: 50%;
                }
                .footer .col h1 {
                  font-size: 14px;
                }
                .footer .col ul li {
                  font-size: 13px;
                }
            }
            @media only screen and (max-width: 340px) {
              .footer .col {
                width: 100%;
              }
            }
            }
</style>